body {
    width: 95%; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 70px;
}

h1 {
    color: #141414;
}

h3 {
    color: indianred;
}

h2 {
    text-decoration: none;
}

.ng-invalid.ng-dirty {
  border-color: red;
}
.ng-valid.ng-dirty {
  border-color: green;
}
