body {
    width: 100%; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 70px;
}
main{
	width: 95%; 
    margin-left: auto;
    margin-right: auto; 
}

h1 {
    color: #141414;
}

h3 {
    color: #141414;
}

h2 {
    text-decoration: none;
}

.billed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ng-invalid.ng-dirty {
  border-color: red;
}
.ng-valid.ng-dirty {
  border-color: green;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.footer-clean{
	background-color: #494949;
	color: #CCCCCC;
	
}

footer h3{
	
	color: white !important;
}
.aabningsTiderFooter{
	justify-content: space-between;
}


.aabningsTiderFooterTR  td:first-child{
	text-align: left;
	
}


.aabningsTiderFooter  tr{
	text-align: center;
	
}
